* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}



.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 180px 0;
  background-image: url(bg-top.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.bg-text {
 background-color: rgb(0,0,0); 
 background-color: rgba(0,0,0, 0.4); 
 border: 3px solid #f1f1f1;
 color: white;
 font-size :30px;
 top: 30%;
 padding-bottom:20px;
}
.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 200px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #00bdbd;
  text-align: center;
}

.heading {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #5f5d60;
}

.heading h2 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  color:white;
}

.lesson {
  float: left;
  width: 20%;
}

.lesson-icon {
  position: relative;
  width: 100%;
  max-width: 200px;
}

.image-lesson{
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.lesson-icon:hover .overlay {
  opacity: 1;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
  text-align:justify;
}

.text-contents {
  width: 80%;
  display: block;
  margin-top: 5px;
  font-size: 20px;
  color: white;
  text-align: left;
}
.text-contents li{
  color: white;
}
ul {
  text-align: left;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
.project-wrapper {
 padding-top:30px;
 padding-bottom: 80px;
 padding-left: 5%;
 padding-right: 5%;
 background-color: #f7f7f7;
 background-color: white;
 text-align: center;
}
.project-heading h2 {
 font-weight: bold;
 font-size: 45px;
 letter-spacing: 5px;
 margin-bottom: 60px;
 color: #00a2c6;
 color:#00bdbd;
}
.projects{
  display: flex;

}
.project {
flex-basis: 33%;
}

.project-icon{
 position: relative;
 width: 100%;
 max-width: 300px;  
}

.image-project{
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.project-icon:hover .overlay {
  opacity: 1;
}

.project-icon img {
 width: 300px;
 height: 250px;
 object-fit: cover;
 object-position: center;
}

.contact{
   padding: 30px 0 180px 0;
   background-image: url(contact-us.jpg);
   background-size: cover; 
}
.heading-contact {

top:200px;
margin-top:0px;

}
.heading-contact h2{
 font-size: 45px;
 letter-spacing: 5px;
 margin-bottom: 80px;
 color:#00bdbd;
 text-align:center;
}
.input-contact{
display:flex;
}
.input-left{
flex-basis: 50%;

}
.input-right{
flex-basis: 50%;

}
.input-left input{
padding:20px 20px;
width:90%;
background:none;
border: 1px solid #fff;
margin:10px 10px;
color:white;
font-size:15px;

}

.input-right textarea{
padding:20px 20px;
width:90%;
background:none;
border: 1px solid #fff;
margin:10px 10px;
height:210px;
color:white;
font-size:15px;
}

.submit{
 float:right;
 background-color: #00bdbd;
 margin-right:45px;
}
footer img {
  width: 125px;
}

footer p {
  color: white;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #00bdbd;
}
 footer a {
  float: right;
  padding-bottom: 20px;
  color: white;
 }

footer .footer-center p{
  text-align: center;
  font-size: 18px;
}

.fa {
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
